.cart{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
}
.img-carro {
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
}
.count {
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
}
.count i{
    padding-right: .3rem;
}
.count p{
    display: inline;
    color: gray;
    font-size: large;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.count #cart-icon, .count .cart-count p{
    text-decoration: none;
}
.fas {
    position: relative;
    width: 1rem;
    height: 1rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    text-decoration: none;
}

.fa-shopping-bag:hover{
    color: #768884;
    transition: color 0.3s; 
    cursor: pointer;
}

#contador:hover{
    background-color: #18bc9c;
    transition: background-color 0.3s;  
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}
