.whatsapp-icon {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    background-color: #25D366; 
    border-radius: 50%; 
    padding: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s;
}

.whatsapp-icon a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 250%;
    text-decoration: none;
}

.whatsapp-icon:hover {
    transform: scale(1.1); 
}
