.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image:url('../../../src/assets/fondo.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.conteiner .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position:absolute;
    background-color: #3d3d3d;
    background: radial-gradient(ellipse at center, #FF3D00 0%, #FF3D00 14%, #FFF 15%, #FFF 100%);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.conteiner .loader::after,
.conteiner .loader::before {
    content: '';  
    position: absolute;
    height: 16px;
    width: 4px;
    background: #FF3D00;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 25% 0;
    box-sizing: border-box;
    animation: rotation 10s linear infinite;
}
.conteiner .loader::before {
    height: 22px;
    width: 2px;
    transform: translateX(-50%) rotate(0deg);
    animation-duration: 1s;
} 
@keyframes rotation {
    0%    { transform: rotate(0deg)}
    100%  { transform: rotate(360deg)}
} 