@media (min-width: 426px) and (max-width: 768px){
    .logo .marca{
        font-size: medium;
    }
    .logo .menWoman {
        font-size: xx-small;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
}
.logo{
    display: block;
    align-items: center;
    text-decoration: none;
    color: black;
}
.marca{
    padding: 0;
    margin: 0;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.menWoman {
    margin: 0;
    padding: 0;
    font-size: x-small;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}