@media (min-width: 426px) and (max-width: 768px){
    .fuuter .footer-content{
        scale: 0.95;
    }
}

.fuuter {
    background-color: #f8f9fa;
    color: #212529;
    padding: 20px ;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul li {
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #9c9c9c;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #000;
}

.socials {
    display: flex;
    gap: 12px;
}

.socials a {
    color: #9c9c9c;
    font-size: 18px;
}

.socials a:hover {
    color: #fff;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.newsletter-form input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #898a8a;
    color: #000000;
    border: 2px solid black;
}
.newsletter-form input:hover{
    border: 2px solid black;
    background-color: #898a8a97;
}
.newsletter-form button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #218838;
}

.payment-icons img {
    height: 28px;
    margin-right: 8px;
    align-items: center;
    display: flex;
    gap: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    border-top: 1px solid #444;
    padding-top: 10px;
    color: #000;
}
