/* PanelProduct.css */
@media (min-width: 426px) and (max-width: 768px) {
    .panel-container {
        scale: 1;
        width: auto;
    }
    .panel-container #panel-title {
        margin: 0 0 1rem !important;
        width: auto !important;
        font-size: 2rem !important;
    }
    .panel-container .coteiner-panel-product{
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }
    .panel-container .coteiner-panel-product .product-form-container {
        margin: 0 ;
        width: auto;
    }
    .panel-container .coteiner-panel-product .product-form-container .form-header h3{
        font-size: 1.5rem;
        margin: 0 0 0.5rem 0;
        text-align: start;
    }
    .panel-container .coteiner-panel-product .product-form-container .form-body .form-buttons{
        scale: 0.9;
        justify-content: right;
    }
    .panel-container .buscador-prod{
        margin: 0 ;
        width: auto;
    }
    .panel-container .product-list-container {
        margin: 0 !important;
    }
    .panel-container .product-list-container {
        height: auto; 
    }

    .panel-container .product-list-container .list-header h3{
        font-size: 1.5rem;
        margin: 0 0 0.5rem 0;
        text-align: start;
    }
    .panel-container .product-list-container .list-body{
        width: auto;
        height: auto; 
        overflow: auto;
        border-radius: 10px;
    }

    .panel-container .product-list-container .product-table thead th{
        font-size: 0.8rem;
        padding: 0.5rem 0.7rem;
    }
    .product-table tbody .td-cel-stock{
        width: fit-content;
    }
    
    .panel-container .product-table tbody .td-cel-stock .cel-stock .btn-edit{
        flex-direction: column;
    }
    .panel-container .product-table tbody td #save,
    .panel-container .product-table tbody td #cancel{
        width: fit-content;
    }
    .panel-container .product-list-container .list-body .edition{
        align-items: center;
    } 
    .panel-container .product-list-container .list-body .edition button{
        font-size: 1rem;
        align-items: center;
        justify-content: center;
    }
    .panel-container .product-list-container .list-body .edition .update,
    .panel-container .product-list-container .list-body .edition .delet{
        display: flex;
        justify-content: center;
        margin: 0 0 3px 0 !important;
        padding: 0.3rem;
    }
    
    .panel-container .product-list-container .product-table thead tr{
        align-items: center;
        text-align: center;
    }
    .panel-container .product-list-container .product-table tbody .sin-productos{
        font-size: 1.5rem;
        height: auto;  
    }
}
/* Contenedor principal */
.panel-container {
    padding: 20px;
    background-color: #b3b3b3;
}

/* Título principal */
.panel-container #panel-title {
    text-align: start;
    color: #000000;
    margin: 20px 100px;
    font-weight: bold;
    font-size: 3rem;
    border-bottom: 5px solid #242424;
}

/* Formulario de productos */
.panel-container .product-form-container {
    margin: 0 50px 20px 100px;
    padding: 20px;
    width: 100%;
    background-color: #cf843a29;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1);
}


.panel-container .form-header h3 {
    font-size: 1.5rem;
    color: #000000;
    margin: 1rem 0;
}

/* Estilos de inputs y etiquetas */
.panel-container .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
}

.panel-container .form-group label {
    /* margin-bottom: 5px; */
    color: #343a40;
    font-weight: bold;
    width: 15%;
    text-align: left;
}

.panel-container .form-group input, .form-group #productCategory {
    color: #000000;
    background-color: white;
    padding: 8px 14px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.2s;
    width: 100%;
}

.panel-container .form-group input:focus {
    border-color: #007bff;
}

/* Botones del formulario */
.panel-container .form-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}
.panel-container .form-buttons button{
    font-weight: bold;
    width: 15%;
    padding: 5px 10px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.panel-container .btn-save {
    background-color: #28a745;
}

.panel-container .btn-save:hover {
    background-color: #218838;
}

.panel-container .btn-list {
    background-color: #0084ff;
}
.panel-container .btn-list:hover {
    background-color: #0067c6;
}
.panel-container .ocultar-lista{
    background-color: #535353;
}
.panel-container .ocultar-lista:hover{
    background-color: #9b9b9b;
}

.panel-container .volverAdmin{
    background-color: #000000;
    transition: background-color 0.3s;
}
.panel-container .volverAdmin:hover{
    background-color: #818181;
}
.coteiner-panel-product{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 0px 20px 0px;
}
.buscador-prod {
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;
    margin: 0 100px 20px 0px;
    background-color: #cf843a29;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1);
}

/* Select */
.buscador-prod select {
    color: #000000;
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background: white;
    font-size: 14px;
    cursor: pointer;
    transition: border-color 0.2s;
}
.buscador-prod .seleccion{
    background-color: #b8b8b8;
}
.buscador-prod .select-category {
    width: 100%;
}
.buscador-prod select:focus {
    border-color: #2563eb;
    outline: none;
}

/* Input */
.buscador-prod input {
    flex: 1;
    color: #000000;
    background-color: white;
    padding: 8px 14px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.2s;
}

.buscador-prod input:focus {
    border-color: #2563eb;
    outline: none;
}

/* Botones */
.buscador-prod button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Botón buscar */
.buscador-prod button:first-of-type {
    background: #2563eb;
    color: white;
}

.buscador-prod button:first-of-type:hover {
    background: #1d4ed8;
}

/* Botón reset */
.buscador-prod button:last-of-type {
    background: #e5e7eb;
    color: #374151;
}

.buscador-prod button:last-of-type:hover {
    background: #d1d5db;
}

/* Lista de productos */
.product-list-container {
    margin: 0 100px 20px 100px;
    padding: 20px;
    background-color: #cf843a29;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1);
}


.list-header h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #000000;
}
.list-body{
    overflow: auto;
    max-height: 520px;
    border-radius: 10px;
}
.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table thead th {
    background-color: #333437;
    color: white;
    padding: 0.75rem 1rem;
    text-align: left;
    font-size: 1rem;
}

.panel-container .product-table tbody td {
    padding: 0.75rem 1rem;
    text-align: left;
    background: #cf843a29;
}

.panel-container .product-table tbody td img{
    border: 1px solid #000000;
    border-radius: 10px;
    vertical-align: middle;
}
.panel-container .product-table tbody .td-cel-stock{
    width: 100px;
}
.panel-container .product-table tbody .td-cel-stock .cel-stock{
    display: flex;
    width: 200px;
    justify-content: start;
    gap: 10px;
}
.panel-container .product-table tbody .td-cel-stock .cel-stock .btn-edit{
    gap: 10px;
    display: flex;
    align-items: stretch;
    width: fit-content;
}
.panel-container .product-table tbody .td-cel-stock .icon-edit{
    align-items: center;
    display: flex;
    gap: 30px;
}

.panel-container .product-table tbody .td-cel-stock .icon-edit #edite{
    background-color: ghostwhite;
    border: none;
    display: inline-flex;
    padding: 5px;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}
.panel-container .product-table tbody td input{
    color: #000000;
    background-color: white;
    padding: 3px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.2s;
    width: 20%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.panel-container .product-table tbody td button{
    border: none;
    border-radius: 5px;
}
.panel-container .product-table tbody td button:hover{
    cursor: pointer;
}
.panel-container .product-table tbody td #save{
    background-color: #218838;
}
.panel-container .product-table tbody td #cancel{
    background-color: #565656;
}

.panel-container .product-table tbody .edition button{
    margin: 0 2rem 0 0;
    color: #fff;
    border: none;
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background 0.2s;
}


.panel-container .product-table tbody .edition .update{
    background-color: #ffb300;
}

.panel-container .product-table tbody .edition .update:hover {
    background-color: #d19302;
}

.panel-container .product-table tbody .edition .delet{
    background-color: #ff4d4f;
}
.panel-container .product-table tbody .edition .delet:hover{
    background-color: #d9363e;
}

.panel-container .product-table tbody tr:hover {
    background-color: #454545b9;
    transition: background-color 0.3s ease;
    cursor: auto;
}

.panel-container .product-table tbody tr .sin-productos{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
